@import "colors";
@import "mediaqueries";

.about_container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: stretch;
  flex: 1;
  width: calc(100% - 4rem);
  margin: 1rem auto;
  padding: 2rem;
  gap: 2rem;
  background-color: $ebony-clay;
  border-radius: 0.3rem;
  transition: all 0.3s;
  @media screen and (max-width: $screen-m) {
    grid-template-columns: 2fr 2fr;
  }

  @media screen and (max-width: $screen-s) {
    grid-template-columns: 2fr;
  }

  .about {
    $color: $tonys-red;
    padding-block: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.75rem;
    min-height: calc(275px - 2em);
    font-size: 1.2em;
    background-color: $shark;
    color: $color;
    padding-inline: 2em;
    transition: transform 1s ease;
    transition-delay: 0.2s;
    @media screen and (max-width: $screen-s) {
      grid-column-end: span 2;
    }

    hr {
      width: 100%;
      margin-bottom: 0.5rem;
      border: 1px solid $color;
    }

    &.col_2 {
      grid-column-end: span 2;
      $color: $golden-fizz;
      color: $color;
      // background-color: $pastel-green;
      hr {
        border: 1px solid $color;
      }
    }

    .title {
      font-weight: 800;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }

    .description {
      justify-content: center;
      width: 100%;
      display: flex;
      flex: 1;
      align-items: center;
      padding-inline: 4em;
    }
  }
}
