@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "SyneMono Regular";
  src: url("../fonts/SyneMono-Regular.ttf");
}
@font-face {
  font-family: "ValeraRound Regular";
  src: url("../fonts/VarelaRound-Regular.ttf");
}
@font-face {
  font-family: "Wildbreak";
  src: url("../fonts/Wildbreak.otf");
}
