@import "colors";

.container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;

  .navigation {
    flex: 1;
    background: $tonys-red;
    nav {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: sticky;
      top: 0;
    }
  }

  .reports {
    display: grid;
    grid-template-areas:
      "t-left t-right"
      "left right";
    flex: 5;
    background: $ebony-clay;
    $report-height: 400px;
    .generalReport {
      grid-area: t-left;
      max-height: $report-height;
      display: flex;
    }
    .generalChart {
      grid-area: t-right;
      max-height: $report-height;
    }

    .left {
      grid-area: left;
      max-height: $report-height;
    }
    .right {
      grid-area: right;
      max-height: $report-height;
    }
  }
}
