@import "colors";
@import "fonts";

.login_container {
  background: $ebony-clay;
  flex: 1;
  display: flex;
  align-items: stretch;
  form {
    margin: auto;
    padding: 4rem;
    background: $pickled-bluewood;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "ValeraRound Regular";
    box-shadow: 0 0 10px $gray-suit;
    * {
      width: 100%;
      font-size: 1.3rem;
    }

    .login_logo {
      margin: auto;
      text-align: center;
      font-family: "Wildbreak";
      font-weight: bolder;
      font-size: 4rem;
    }
    .form_group {
      label {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        cursor: pointer;
        span {
          font-size: 1.4rem;
        }
        input {
          font-family: "Poppins Regular";
          width: calc(100% - 2rem);
          border-radius: 0.5rem;
          border: none;
          padding: 0.6rem 1rem;

          &:focus {
            outline: 1px solid $golden-dream;
            outline-offset: 0.2rem;
          }
        }

        &:hover {
          input {
            outline: 1px solid $golden-dream;
            outline-offset: 0.2rem;
          }
        }
      }
    }

    .form_error {
      width: calc(100% - 1.6rem);
      margin-top: 1rem;
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
      color: $shocking;
      background-color: $tonys-red;
      border-radius: 0.5rem;
      font-family: "ValeraRound Regular";
      font-weight: 600;
      letter-spacing: 0.5px;
    }

    .error {
      position: relative;
      border-radius: 0.5rem;
      background-color: $tonys-red;
      color: $shocking;
      padding: 1rem 2rem;
      width: calc(100% - 4rem);
    }

    .form_button {
      button {
        cursor: pointer;
        font-family: "Poppins Regular";
        width: 100%;
        padding: 0.6rem;
        background-color: $chatelle;
        border: none;
        border-radius: 0.5rem;
        color: black;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }
}
